<div class="workouts">
  <div class="workouts__title">
    <h1><img src="/assets/img/workout.svg" alt="">
      Your workouts
    </h1>
    <a [routerLink]="['../workouts/new']" class="btn_add">
      <img src="/assets/img/add-white.svg" alt="">
      New workouts
    </a>
  </div>
  <div *ngIf="workouts$ | async as workouts; else loading">
    <div class="message" *ngIf="!workouts.length">
      <img src="/assets/img/face.svg" alt="">
      No workouts, add a new workouts to start
    </div>
    <app-list-item
      *ngFor="let workout of workouts"
      [item]="workout"
      (remove)="removeWorkout($event)"
    ></app-list-item>
  </div>
  <ng-template #loading>
    <div class="message">
      <img src="/assets/img/loading.svg" alt="">
      Fetching workouts...
    </div>
  </ng-template>
</div>
